.container {
    background-color: rgb(159, 16, 16);
    width: 100%;
}
.shoppingContainer {
    display: flex;
    flex-direction: row;
    max-width: 90%;
    margin: 0 auto;
    background-color: rgb(215, 244, 22);  
}
.shoppingTitle {
    text-align: center;
    background-color: cadetblue;
}
.box {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 18rem;
     background-color: rgb(237, 0, 237);   
  }
.mensaje {
    text-align: center;
    color: #050404;
    font-style: italic;
  }
.clearButton {
    background-color: #dc3545; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    height: 2rem;
    cursor: pointer; 
    transition: background-color 0.3s; 
}
.clearButton:hover {
    background-color: #c82333; 
}



 
